		
	/* header style */
	.header-wrapper {
		position: relative;
		top: 0;
		width: 100%;
		height: 100vh;
		background: #050505;
		box-sizing: border-box;
	}
	.header-background {
		position: absolute;
		top: 0;
		left: 0;
		height: 100vh;
		width: 100%;
		/*background-image: url('../../images/background 3.mp4');
		background-repeat: no-repeat;
		background-attachment: scroll;
		background-size: cover;
		background-position: center;*/
		z-index: 1000;
		overflow: hidden;
		transform: translateY(100vh);
	}
	.header-background #headerVideo {
		position: absolute;
		right: 0;
		bottom: 0;
		min-height: 100%;
		min-width: 100%;
		z-index: 1000;
	}
	.header-content {
		position: absolute;
		top: 0;
		left: 0;
		background: transparent;
		height: 100vh;
		width: 100%;
		box-sizing: border-box;
	}
	header .logo-wrapper { 
	    position: relative;
	    top: 0;
	    padding: 30px 10px 30px 10px;
	    width: 100%;
	    height: auto;
	    background-color: transparent;
	    z-index: 1000;
	}
	header .logo-wrapper .logo {
		padding: 10px 0 0 10px;
		user-select: none;
	}
	header .logo-wrapper .logo .logo-text {
		font-size: 16px;
	    letter-spacing: 5px;
	    color: #fff;
	    text-decoration: none;
	    transition: color 1s ease-out;
	}
	header .logo-wrapper .logo .logo-text:hover {
		color: #ff8f42;
		transition: .3s ease;
	}
	header .myheader {
	    position: absolute;
	    top: 40%;
	    left: 50%;
	    margin-left: 0;
	    width: 100%;
	    text-align: center;
	    user-select: none;
	    z-index: 1000;
	    transform: translate(-50%, -40%);
	}
	.myheader ul {
		position: relative;
		overflow: hidden;
		display: block;
	}
	.myheader ul li {
		display: inline-block;
		margin-left: 30px;
		text-align: center;
	}
	.first-header,
	.second-header {
		position: relative;
	    font-size: 130px;
	   	cursor: default;
	    z-index: 1000;
	    text-shadow: -8px 8px 0px transparent;
	    color: #fff;
		letter-spacing: -3px;
	}
	.first-header {
		margin-bottom: 10px;
		font-size: 120px;
	}
	.second-header {
		text-transform: uppercase;
	}
	.first-header,
	.second-header {
		position: relative;
		opacity: 1;
	}
	header .first-header,
	header .second-header {
		opacity: 0;
		font-family: 'poppins-extralight';
		font-weight: normal !important;
	}
	header .second-header {
		font-family: 'poppins-extrabold';
	}
	span:nth-child(2).letters-2 {
		margin-left: -29px;
	}	
	span:nth-child(3).letters-2 {		
		margin-left: -22px;
	}	
	span:nth-child(4).letters-2 {
		margin-left: -33px;
	}	
	span:nth-child(5).letters-2 {
		margin-left: -30px;
	}	
	span:nth-child(6).letters-2 {
		margin-left: -24px;
	}	
	span:nth-child(7).letters-2 {
		margin-left: -14px;
	}	
	span:nth-child(8).letters-2 {
		margin-left: -31px;
	}
	span:nth-child(2).letters-2,
	span:nth-child(3).letters-2,
	span:nth-child(4).letters-2,
	span:nth-child(5).letters-2,
	span:nth-child(6).letters-2,
	span:nth-child(7).letters-2,
	span:nth-child(8).letters-2 {
		text-shadow: -10px 0 20px rgba(0, 0, 0, 0.80);
	}
	.first-header .letters-1,
	.second-header .letters-2, 
	.mobile-header .letters-3 {
		display: inline-block;
		line-height: 1em;
	}
	header .typing-wrapper {
		display: inline-block;
		width: 390px;
	}
 	header .little-header {
 		position: relative;
 		top: -10px;
		font: 17px 'gotham-light';
	    color: #999;
	    letter-spacing: 15px;
	    opacity: 0;
	    border-right: 2px solid #999;
	    white-space: nowrap;
	    overflow: hidden;
	    display: inline-block;
	    box-sizing: border-box;
	}
	header .little-header.animate-little-header {
		opacity: 1;
		animation: typingEffect 4s steps(30, end), blinkEffect .75s step-end infinite;
	}
	@keyframes typingEffect {
	    0% {
	    	width: 0%;
	    }
	    100% { 
	        width: 100%;
	    }
	}
	@keyframes blinkEffect {
	    0%, 100% { 
	        border-color: transparent;
	    }
	    50% { 
	        border-color: #999; 
	    }
	}
	.proj-nav {
	    position: absolute;
	    left: 50%;
	    height: 58px;
	    padding: 5px;
	    z-index: 1000;
	    margin-top: 15px;
	    transform: translateX(-50%);
	}
	.nav-btn {
		position: relative;
	    box-sizing: border-box;
	    pointer-events: auto;
	    padding: 18px;
	    width: 230px;
	    text-transform: uppercase;
	    outline-style: none;
	    font: 14px 'montserrat-light';
	    letter-spacing: 2px;
	    font-weight: 900;
	    color: transparent;
	    text-decoration: none;
	    border: 0;
	    background-color: transparent;
		cursor: pointer;
	}
	.nav-btn::before {
	    position: absolute;
	    content: "view projects";
	    top: 0;
	    left: 0;
	    height: 100%;
	    width: 100%;
	    background: #050505;
	    color: #ff8f42;
	    box-sizing: border-box;
	    font: 14px 'montserrat-light';
	    text-transform: uppercase;
	    font-weight: 900;
	    display: flex;
	    justify-content: center;
	    align-items: center;
	    transition: .5s;
	    transform-origin: top;
	    transform: translateY(100%) rotateX(90deg);
	}
	.nav-btn::after {
	    position: absolute;
	    content: attr(data-text);
	    top: 0;
	    left: 0;
	    height: 100%;
	    width: 100%;
	    color: #fff;
	    background: #111;
	    box-sizing: border-box;
	    font: 14px 'montserrat-light';
	    font-weight: 900;
	    display: flex;
	    justify-content: center;
	    align-items: center;
	    transition: .5s;
	    transform-origin: bottom;
	    transform: translateY(0) rotateX(0deg);
	}
	.nav-btn:hover::after {
		transform: translateY(-100%) rotateX(90deg);
	}
	.nav-btn:hover::before {
		transform: translateY(0) rotateX(0deg);
	}
	.nav-btn:focus::after {
	    transform: translateY(0) rotateX(0deg);
	    transition: .2s;
	}
	.down-btn-wrapper {
	    position: fixed;
	    left: 0;
	    bottom: 0;
	    height: 105px;
	    overflow: hidden;
	    width: 100%;
	    z-index: 1000;
	}
	@keyframes jump {
		0%, 100% {
			bottom: 30px;
		}
		50% {
			bottom: 10px;
		}
	}
	span.proj-border {
	    position: absolute;
	    display: block;
	    top: 80.1%;
	    left: 50%;
	    margin-top: 30px;
	    height: calc(49%);
	    width: calc(262px);
	    border: 2px solid transparent;
	    visibility: hidden;
	    opacity: 0;
	    box-sizing: border-box;
	    transition: .2s linear;
	    transition-delay: 0s;
	    transform: translateX(-50%) scaleY(1) scaleX(1);
	    z-index: 500;
	}
	span.proj-border.add-border {
		border-color: #ff8f42;
		visibility: visible;
		opacity: 1;
	    transition: .4s linear;
	    transition-delay: .5s;
		transform: translateX(-50%) scaleY(0.70) scaleX(0.9);
	}
	.down-btn-wrapper .down-btn-pos .down-btn-title {
	    position: absolute;
	    color: #999;
	    top: 0;
	    left: 0;
	    margin: 30px -120px;
	    opacity: 0;
	    cursor: default;
	    text-transform: lowercase;
	    font: 20px 'gotham-light';
	    transition: .2s ease;
	    transform: translateX(-10px);
	}
	.down-btn-wrapper .down-btn-pos {
	    position: absolute;
	    bottom: 15px;
	    right: 15px;
	    padding: 10px;
	}
	.down-btn-wrapper .down-btn-pos > a > .down-btn {
		position: relative;
	    overflow: hidden;
	    color: #222;
	    font-size: 23px;
	    height: 55px;
	    width: 55px;
	    text-decoration: none;
	    border: none;
	    border-radius: 50%;
	    background-color: #fff;
	    transition: .3s ease;
	    z-index: 1000;
	}
	.down-btn-wrapper .down-btn-pos .down-btn-title.show-down-btn-title {
		opacity: 1;
	    transition: .75s ease;
	    transform: translateX(0);
	}
	.down-btn-wrapper .down-btn-pos > a > .down-btn:hover {
		cursor: pointer;
		background-color: #111;
		color: #fff;
	}
	.down-btn-wrapper .down-btn-pos > a > .btn-border {
	    position: absolute;
	    display: block;
	    bottom: 22px;
	    right: 21.9px;
	    height: calc(35%);
	    width: calc(35%);
	    border-radius: 50%;
	    border: 2px solid transparent;
	    visibility: hidden;
	    opacity: 0;
	    transition: .4s;
	    transform: scale(3);
	    z-index: 500;
	}
	.down-btn-wrapper .down-btn-pos > a > .btn-border2 {
	    position: absolute;
	    display: block;
	    bottom: 23px;
	    right: 22.9px;
	    height: calc(35%);
	    width: calc(35%);
	    border-radius: 50%;
	    border: 1px solid transparent;
	    visibility: visible;
	    opacity: 1;
	    transition: .4s;
	    transform: scale(3.3);
	    z-index: 500;
	    animation: _blinkBorder 3s ease infinite;
	}
	.down-btn-wrapper .down-btn-pos > a > .btn-border2.hide-border2 {
		animation: none;
	}
	@keyframes _blinkBorder {
		0% {
			border-color: transparent;
		}
		33% {
			border-color: #555;
		    transform: scale(2.8);
		}
		66% {
			border-color: #555;
		    transform: scale(2.8);
		}
		100% {
			border-color: transparent;
		}
	}
	.down-btn-wrapper .down-btn-pos > a > .down-btn:hover + .btn-border {
 		border: 2px solid #fff;
	    visibility: visible;
	    opacity: 1;
	    transform: scale(2.2);
	}	

	/* landing page elements */
	.logo {
		opacity: 0;
		margin-top: 20px;
	}
	.first-header,
	.second-header {
		top: 30px;
	}
	span.proj-border {
		display: none;
	}
	.nav-btn {
		opacity: 0;
		transform: translateY(30px);
	}
	.down-btn-pos {
		opacity: 0;
		transform: scale(0);
	}
	.mobile-header {
		position: relative;
		top: 15px;
	    font: 90px 'poppins-extrabold';
		color: #fff;
		text-transform: uppercase;
		letter-spacing: -3px;
		opacity: 0;
		display: none;
	}
	span:nth-child(2).letters-3 {
		margin-left: -15px;
	}	
	span:nth-child(3).letters-3 {		
		margin-left: -20px;
	}	
	span:nth-child(4).letters-3 {
		margin-left: -13px;
	}	
	span:nth-child(5).letters-3 {
		margin-left: -15px;
	}
	span:nth-child(2).letters-3,
	span:nth-child(3).letters-3,
	span:nth-child(4).letters-3,
	span:nth-child(5).letters-3 {
		text-shadow: -15px 0 20px rgba(0, 0, 0, 0.80);
	}
	.header-id {
		height: 135px;
		width: 135px;
		display: none;
	}


	/* responsive */
	@media ( min-width: 320px ) {
		header .first-header,
		header .second-header {
			display: none;
		}
		header .little-header {
			left: 1%;
			font-size: 13px;
			letter-spacing: 13px;
			top: -17px;
		}
		header .typing-wrapper {
			width: 263px;
		}
		.myheader ul li {
			margin-left: 16px;
		}
		ul.social-icons {
			top: 77%;
			margin-left: -3%;
		}
		.proj-nav {
			margin-top: 5px;
		}
		header .logo-wrapper .logo .logo-text {
			font-size: 13px;
		}
		ul.social-icons > li > a > i {
			font-size: 16px;
		}
		ul.social-icons > li {
			margin: -50px 8px;
		}
		header .myheader {
			top: 40%;
		}
		.mobile-header {
			display: block;
		}
	}

	@media ( min-width: 375px ) {
		header .first-header,
		header .second-header {
			display: none;
		}
		.first-header {
		    font-size: 70px;
		}
		header .second-header {
		    font-size: 74px;
		    letter-spacing: 6px;
		}
		header .little-header {
			letter-spacing: 10px;
			font-size: 13px;
		}
		.myheader ul li {
			margin-left: 16px;
		}
		ul.social-icons {
			top: 75%;
			margin-left: 0;
		}
		.proj-nav {
			margin-top: 5px;
		}
		header .logo-wrapper .logo .logo-text {
			font-size: 13px;
		}
		ul.social-icons > li > a > i {
			font-size: 16px;
		}
		ul.social-icons > li {
			margin: -50px 8px;
		}
		header .typing-wrapper {
			width: 230px;
		}
		.mobile-header {
			display: block;
		}
	}

	@media ( min-width: 425px ) {
		header .first-header,
		header .second-header {
			display: none;
		}
		.first-header {
		    font-size: 75px;
		}
		header .second-header {
		    font-size: 80px;
		    letter-spacing: 6px;
		}
		header .little-header {
			letter-spacing: 10px;
			font-size: 13px;
		}
		.myheader ul li {
			margin-left: 16px;
		}
		ul.social-icons {
			top: 75%;
			margin-left: 0;
		}
		.proj-nav {
			margin-top: 5px;
		}
		header .logo-wrapper .logo .logo-text {
			font-size: 13px;
		}
		ul.social-icons > li > a > i {
			font-size: 16px;
		}
		ul.social-icons > li {
			margin: -50px 8px;
		}
		header .typing-wrapper {
			width: 233px;
		}
		.mobile-header {
			display: block;
		}
	}

	@media ( min-width: 768px ) {
		header .first-header,
		header .second-header {
			display: block;
		}
		.first-header {
		    font-size: 96px;
		}
		header .second-header {
		    font-size: 100px;
		    letter-spacing: 5px;
		}
		header .little-header {
			font-size: 13px;
		}
		ul.social-icons {
			top: 45%;
			margin-left: 0;
		}
		header .typing-wrapper {
			width: 230px;
		}
		.mobile-header {
			display: none;
		}
	}

	@media ( min-width: 2560px ) {
		header .logo-wrapper .logo .logo-text {
		    font-size: 23px;
		    letter-spacing: 10px;
		}
		ul.social-icons > li {
		    margin: -25px 25px;
		}
		.first-header {
		    font-size: 150px;
		}
		header .second-header {
		    font-size: 150px;
		    letter-spacing: -6px;
		}
		header .little-header {
			font-size: 20px;
			letter-spacing: 15px;
		}
		ul.social-icons {
			top: 45%;
			margin-left: 0;
		}
		ul.social-icons > li > a > i.fa-facebook-f,
		ul.social-icons > li > a > i {
		    font-size: 28px;
		}
		header .typing-wrapper {
			width: 350px;
		}
		.mobile-header {
			display: none;
		}
	}





	